<%- include('../particles/header.ejs') %>

<%- include('../particles/navigation.ejs') %>

<% for (let i = 0; i < itemsQuantity; i++) { %>

    <div class="section">
        <a href="/items/<%= items[i].id %>/show">
            <h2 class="section__title"><%= items[i].title %></h2>
            <img class="section__image" src="img/<%= items[i].image %>">
        </a>
        
        <div class="form-group">
            <form action="/delete" method="post">
                <input type="submit" value="Удалить">
                <input value="<%= items[i].id %>" class="form-group__input" type="hidden" id="id" name="id" placeholder="image">
            </form>
        </div>

    </div>

<% } %>

<%- include('../particles/footer.ejs') %>
